@charset "utf-8";
/* CSS Document */
 .head{
    /* width: 1200px; */
    /* margin: 0 auto; */
    background-color: beige;
}
body{width: 1920px;}

.container{
	width 20%;
}

container.h1{
		color: aqua;
		text-align: center;
			
	}

	.block{
		
	}

	.navigation{
    font-size: 18px;
    overflow: hidden;
    position: absolute;
    left: 250px;
    top: 10px;
    list-style: none;
}
.navigation li{
    float: left;
}

	