.container{
    /* width: 1200px; */
    /* margin: 0 auto; */
    background-color: beige;
}
.sdimlogo{
    vertical-align: top;
    width: 150px;
}
.navigation{
	font-size: 18px;
	overflow: hidden;
	position: absolute;
	left: 645px;
	top: 0px;
	list-style: none;
	width: 310px;
	height: 91px;
}
.navigation li{
    float:left;
}
.navigation a{
    color: #000;
    display: block;
    line-height: 90px;
    padding: 0px 20px;
}
.navigation :hover{
    color: aquamarine;
}
.Search{
    overflow: hidden;
    position: absolute;
    width: 218px;
    height: 36px;
    border: 1px solid #c9c9c9;
    left: 700px;
    top: 50px;
}
.search{
    margin: 0;
    padding-left: 11px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    border: none;
    outline: none;
}
button i{
    width: 17px;
    height: 17px;
    display: block;
    background-image: url(../../images/search.png) no-repeat;
}
.user{
    overflow: hidden;
    position: absolute;
    left: 1000px;
    width: 200px;
    height: 150px;
    top: 15px;

}
.usericon{
    height: 100px;
    width: 100px;
    background-size: 160px;
    background-position: -30px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
.favu{
    /* zanwu */
  }

#page-content {
    width: 1030px;
    padding: 0 40px;
    margin: 0 auto;
    font-family: "tahoma", "tahoma2", -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.breadcrumb-trail {
    display: inline-block;
    width: 1030px;
    color: #535353;
    font-size: 11px;
    margin: 30px 0 25px;
    letter-spacing: 0.1em;
}
.breadcrumb-trail > a {
    color: #535353;
    border: none;
}
#page-post .post-body {
    position: relative;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    font-size: 14px;
    color: #AFAFAF;
    line-height: 24px;
    background: white;
    padding: 36px 35px 36px 35px;
}
#page-post #post-read .paging.paging-top {
    margin: 0;
    padding: 10px 30px;
    width: 970px;
    border-bottom: 1px solid #eeeeee;
}

#page-post .post-body > div {
    display: inline-block;
}
.paging {
    font-size: 12px;
    color: #959595;
    margin-left: 15px;
    margin-top: 10px;
}
.paging.paging-top .paging-button, .paging.paging-top .paging-button.n {
    background: white;
    border-color: #eeeeee;
    color: #959595;
}

.paging .button.n, .paging .paging-button.n {
    letter-spacing: 0;
    background: white;
    border-color: #eeeeee;
    min-width: 16px;
    color: #959595;
    padding-left: 6px;
    padding-right: 6px;
}
.paging .button, .paging .paging-button {
    display: inline-block;
    float: left;
    color: white;
    background: #5cae97;
    border-radius: 3px;
    line-height: 28px;
    min-width: 58px;
    min-height: 28px;
    border: 1px solid #5cae97;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}
.paging div {
    line-height: 28px;
    float: left;
    margin: 5px;
}
.paging.paging-top .paging-button.active, .paging.paging-top .paging-button:active, .paging.paging-top .paging-button.active:hover, .paging.paging-top .paging-button:hover, .paging.paging-top .paging-button.n.active, .paging.paging-top .paging-button.n:active, .paging.paging-top .paging-button.n.active:hover, .paging.paging-top .paging-button.n:hover {
    background: white;
    color: #e97c62;
    border-color: #e97c62;
}

.paging.paging-top .paging-button, .paging.paging-top .paging-button.n {
    background: white;
    border-color: #eeeeee;
    color: #959595;
}
.paging .button.n.active, .paging .button.n:active, .paging .button.n.active:hover, .paging .button.n:active:hover, .paging .paging-button.n.active, .paging .paging-button.n:active, .paging .paging-button.n.active:hover, .paging .paging-button.n:active:hover {
    background: #e97c62;
    color: white;
    border-color: #e97c62;
}
.paging .button.n, .paging .paging-button.n {
    letter-spacing: 0;
    background: white;
    border-color: #eeeeee;
    min-width: 16px;
    color: #959595;
    padding-left: 6px;
    padding-right: 6px;
}
.paging .button, .paging .paging-button {
    display: inline-block;
    float: left;
    color: white;
    background: #5cae97;
    border-radius: 3px;
    line-height: 28px;
    min-width: 58px;
    min-height: 28px;
    border: 1px solid #5cae97;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}
.paging div {
    line-height: 28px;
    float: left;
    margin: 5px;
}
.paging div {
    line-height: 28px;
    float: left;
    margin: 5px;
}
.paging.paging-top .paging-button, .paging.paging-top .paging-button.n {
    background: white;
    border-color: #eeeeee;
    color: #959595;
}

.paging .button, .paging .paging-button {
    display: inline-block;
    float: left;
    color: white;
    background: #5cae97;
    border-radius: 3px;
    line-height: 28px;
    min-width: 58px;
    min-height: 28px;
    border: 1px solid #5cae97;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}
.paging div {
    line-height: 28px;
    float: left;
    margin: 5px;
}

#page-post #post-read header {
    padding: 0 35px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 10px;
}

用户代理样式表
header {
    display: block;
}
#page-post #post-read header .font-small {
    font-size: 12px;
    color: #959595;
}
#page-post #post-read header > .right.share {
    position: relative;
    top: 5px;
}
#page-post #post-read header > .right {
    float: right;
}
#page-post #post-read .card-list {
    border-bottom: 1px #eeeeee solid;
    width: 100%;
}

#page-post .post-body > div {
    display: inline-block;
}
#page-post #post-read .post-card:not(:last-child) {
    border-bottom: 4px solid #f8cea8;
}
#page-post #post-read .post-card {
    position: relative;
    font-size: 0;
    width: 100%;
}
#page-post .editor-wrapper {
    position: relative;
    margin: -1px 0 30px;
    background: white;
    padding: 36px 50px;
    display: block;
    border: 1px solid #eeeeee;
    border-top: none;
}
